# ─── Safie API 認証情報 ───────────────────────
SAFIE_CLIENT_ID=fa23e133dd7e
SAFIE_CLIENT_SECRET=5e4da38d7846182da864a16736cc4095
SAFIE_REDIRECT_URI=http://localhost:3000/callback
SAFIE_SCOPE=api:device:live:view api:device:timeline:view

# ─── カメラ設定 ───────────────────────────────
DEVICE_ID_1=ICAVD25C01876
DEVICE_LABEL_1=平和島11
DEVICE_ID_2=ICAVD25C01893
DEVICE_LABEL_2=平和島12

# ─── サーバー設定 ─────────────────────────────
PORT=3000
